html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 190px;
  min-width: 960px;
  min-height: 100%;
  height: auto !important;
  font-family: $baseFont;
  color: $baseTextColor;
  font-size: 14px;
}

.container {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 960px;
}

.logo {
  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: none;
  }
}

.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;

  &.link {
    border-bottom: none;
    &:hover, &:active, &:focus {
      color: $baseTextColor;
      cursor: not-allowed;
    }
  }
}
