@import '../global-vars/variables.css';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  background-color: $baseRedColor;
  color: #fff;
}

.footer__logo {
  display: block;
  position: relative;
  float: left;
  margin-top: 64px;
  margin-right: 92px;
  width: 219px;
  height: 62px;
  background: url(../images/bia-logo-white.png) no-repeat;
}

.footer__information {
  padding-top: 48px;
  padding-left: 312px;
  &__name {
    font-weight: bold;
  }
  &__address {
    margin-top: 19px;

    p {
      padding-bottom: 10px;
    }
  }
}
