@import '../global-vars/variables.css';

header {
  position: relative;
  padding-top: 48px;
  height: 90px;
}

.header__logo {
  display: block;
  position: relative;
  float: left;
  width: 324px;
  height: 90px;
  background: url(../images/bia-logo.png) no-repeat;
}

.header__phone {
  display: block;
  position: relative;
  float: right;
  margin-top: 28px;
  border-bottom: none;
  color: $baseRedColor;
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}
