.button {
  display: inline-block;
  padding: 14px 32px;
  border: none;
  text-decoration: none;
  transition: all ease 0.4s;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;

  &_is_big {
    padding: 19px 51px;
    font-size: 20px;
  }
}

.button_red {
  background-color: $baseButtonColor;
  color: $baseButtonFontColor;

  &:hover, &:active {
    background-color: $activeButtonColor;
    color: $baseButtonFontColor;
  }
}

.button_white {
  padding: 13px 30px;
  background: #fff;
  border: 3px solid #d0d6d8;
  &:hover, &:focus, &:active {
    border: 3px solid $baseRedColor;
  }
}

.link_adobe {
  margin-left: 39px;

  &:before {
    display: block;;
    position: absolute;
    content: '';
    top: -4px;
    left: -39px;
    width: 29px;
    height: 32px;
    background: url(../images/icon_adobe.png) no-repeat;
  }
}
