input[type="checkbox"] {
  display: none;

  &+label {
    cursor: pointer;
    
    &:before {
      content: '';
      display: block;
      float: right;
      margin-left: 16px;
      width: 10px;
      height: 10px;
      border: 2px solid #666;
    }
  }
  &:checked {
      &+label {

        &:before {
          /* fa */
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          content: '\f00c';

          line-height: 0.6;
          color: $baseRedColor;
        }
      }
    }
}
