.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 45px;
  left: 0;
  padding: 26px;
  width: 383px;
  height: 0;
  background-color: #fff;
  box-shadow: 0 0 20px #f5f5f5;
  font-size: 14px;
}
.opened {
  .dropdown-menu {
    display: block;
    height: auto;
  }
}
