.filter {
  position: relative;
  margin-bottom: 85px;

  ul, ol {
    list-style: none;
  }

  &__section {
    display: inline-block;
    position: relative;
    font-size: 17px;

    & > a {
      position: relative;
      padding-right: 52px;
      cursor: pointer;
      border: none;

      span {
        border-bottom: 1px dashed;
      }

      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        top: 12px;
        width: 7px;
        height: 1px;
        background-color: $baseTextColor;
      }
      &:before {
        right: 33px;
        transform: rotate(45deg);
      }
      &:after{
        right: 28px;
        transform: rotate(-45deg);
      }
    }

    &__item {
      margin-bottom: 22px;

      &_all, &_clear {
        margin-top: 16px;
        margin-bottom: 0;

        a {
          font-weight: 600;
          color: $baseTextColor;
          border-bottom-style: dashed;
        }
      }

      &_all {
        float: left;
      }
      &_clear {
        float: right;
      }
    }

    &.opened {
      & > a {
        color: $baseRedColor;
        &:before, &:after {
          background-color: $baseRedColor;
        }
        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
}
