a {
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid;
  color: $baseLinkColor;
  transition: all ease 0.4s;

  &:hover, &:active {
    color: $activeLinkColor;
    border-bottom-color: transparent;
  }
}

.link {
  cursor: pointer;
}
.link_red {
  color: $redLinkColor;

  &:hover, &:focus, &:active {
    color: $redActiveLinColor;
  }
}

h1 {
  margin: 63px 0 36px;
  line-height: 1;
  font-weight: 200;
  font-size: 63px;
}

h3 {
  padding: 35px 0;
  text-align: center;
  font-family: 'Verdana';
  font-size: 24px;
  color: #7e7e7e;
}

p {
  padding-bottom: 1em;
}
