$baseFont: 'Open Sans', sans-serif;
$baseTextColor: #000;

$baseRedColor: #e32636;

$baseLinkColor: #000;
$activeLinkColor: rgb(227, 38, 54);

$baseButtonColor: #e32636;
$baseButtonFontColor: #fff;
$activeButtonColor: #f02b3c;

$footerLinkColor: #fff;
$footerActiveLinkColor: #f2afb3;

$redLinkColor: rgb(227, 38, 54);
$redActiveLinColor: #ff5866;
