.cases_list {
  display: block;
  position: relative;
  font-size: 0;

  &__container > p {
    font-size: 17px;
  }

  &__item {
    display: inline-block;
    margin-bottom: 82px;
    width: 33.3333%;
    vertical-align: top;
    font-size: 17px;

    &__image {
      position: relative;
      padding: 0 20px;
      width: calc(100% - 20px);
      height: 200px;

      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        border-bottom: none;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__title {
      padding: 0 10px;
      line-height: 1.3;

      a {
        border-bottom: none;
        text-decoration: underline;

        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
    }
  }
}

.cases_list__loading_more {
  padding-top: 3px;
  padding-bottom: 86px;
  text-align: center;
}
