.breadcrumbs {
  margin-top: 62px;
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
}
.navigate_by_cases{
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    width: 13px;
    height: 1px;
  }

  &:before {
    top: 5px;
    background-color: $baseRedColor;
  }
  &:after {
    top: 14px;
    background-color: $baseRedColor;
  }

  &_prev {
    float: left;
    margin-left: 22px;

    &:before, &:after {
      left: -22px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  &_next {
    float: right;
    margin-right: 22px;

    &:before, &:after {
      right: -22px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}
.case {
  padding-bottom: 82px;

  &__description {
    padding-top: 25px;
    width: 630px;
    line-height: 1.6;
  }

  img {
    display: block;
    margin: 20px auto 60px;
    position: relative;
    max-width: 100%;
  }

  &__tag_list {
    padding: 58px 0 53px;

    .tag {
      margin-bottom: 24px;
    }
  }

  .content {
    line-height: 1.6;
  }
}
