/* промо-блок */
.content__about {
  padding-top: 63px;
  padding-bottom: 99px;
  background: url(../images/bg-about.png) right bottom no-repeat;
  background-position-x: calc(50% + 214px);
  background-position-y: calc(100% + 2px);

  &__title {
    width: 50%;
    font-size: 63px;
    line-height: 1;
    font-weight: 400;
  }

  &__text {
    margin-top: 46px;
    font-size: 0;

    &__item {
      display: inline-block;
      position: relative;
      padding-right: 4%;
      padding-bottom: 42px;
      width: 29%;
      vertical-align: top;
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__order-button {
    margin-top: 12px;
  }

  &__presentation-download {
    margin-top: 46px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
  }
}

.content__divider {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: $baseRedColor;
}

/* услуги */
.services__list {
  display: block;
  position: relative;
  margin-top: 84px;
  font-size: 0;

  &__item {
    display: inline-block;
    position: relative;
    margin-bottom: 68px;
    width: 25%;
    vertical-align: top;
    text-align: center;

    &__icon {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 120px;
      height: 100px;

      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        border-bottom: none;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &__name {
      font-size: 17px;
      margin-top: 7px;
      line-height: 1.4;

      a {
        border-bottom: none;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* отрасли */
.directions {
  padding: 92px 0 64px;
}

/* форма заказа */
.order_project {
  padding-bottom: 102px;
  background-color: #f2f5f6;
}
.order_project__title {
  float: left;
  margin-top: 93px;
  width: 335px;
  font-size: 47px;
  color: $baseRedColor;
}
.order_project__form {
  margin-left: 335px;

  .form {
    padding-top: 99px;
  }
}
.order_project__email {
  position: relative;
  margin-top: 30px;
  text-align: right;
  color: #a2a2a2;
}
