{% load static %}
<nav>
  <ul class="filter js-filter">
    <li class="filter__section filter__section_services" data-toggle="dropdown">
      <a href="#">Услуги</a>
      <ul class="dropdown-menu">
        {% for service in services %}
          <li class="filter__section__item">
            <input type="checkbox" id="service-{{ service.id }}" name="" value="" checked="true">
            <label for="service-{{ service.id }}">{{ service.name }}</label>
          </li>
        {% endfor %}

        <li class="filter__section__item_group filter__section__item_all" data-select="true"><a href="">Выбрать все</a></li>
        <li class="filter__section__item_group filter__section__item_clear" data-select=""><a href="">Очистить</a></li>
      </ul>
    </li>
    <li class="filter__section filter__section_directions" data-toggle="dropdown">
      <a href="#">Отрасли</a>
      <ul class="dropdown-menu">
        {% for direction in directions %}
          <li class="filter__section__item">
            <input type="checkbox" id="direction-{{ direction.id }}" name="" value="" checked="true">
            <label for="direction-{{ direction.id }}">{{ direction.name }}</label>
          </li>
        {% endfor %}

        <li class="filter__section__item_group filter__section__item_all" data-select="true"><a href="">Выбрать все</a></li>
        <li class="filter__section__item_group filter__section__item_clear" data-select=""><a href="">Очистить</a></li>
      </ul>
    </li>
  </ul>
</nav>
