{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer__logo logo"><a href="/"></a></div>
    <div class="footer__information">
      <div class="footer__information__name">ООО «БиАйЭй-Технолоджиз»</div>
      <div class="footer__information__address">
        <p>
          Адрес: 196210, Санкт-Петербург, ул. Стартовая, 8.
          <a href="" class="link link_white"></a>
        </p>
        <p>Телефон/факс:+7 (812) 448-10-20</p>
        <p>Юридическая информация: ОГРН 1147847386906, ИНН 7810385714, КПП 781001001</p>
      </div>
    </div>
  </div>
</footer>
