{% load static %}
<div class="order_project cf">
  <div class="container">
    <div class="order_project__title">
      Заказать проект
    </div>
    <div class="order_project__form js-form">
      <a name="order"></a>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <form action="/" method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          <div class="form__row {% if field.errors %}error{% endif %}">
            <label class="form__row__label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="error__message">{{ error|escape }}</div>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}

        <div class="order_project__email">
          или напишите нам на почту <a href="mailto:go@bia-tech.ru?Subject=Вопрос%20с%20сайта" class="link link_red">go@bia-tech.ru</a>
        </div>
        <div class="form__row">
          <ul class="messages hidden"></ul>
          <button type="submit" name="" class="button button_red" data-action="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
