{% load static %}
<header class="header">
  <div class="container">
    <div class="header__logo logo"><a href="/"></a></div>
    <a class="header__phone" href="tel:+78124481020">+7 (812) 448-10-20</a>
  </div>
</header>
