{% load static %}
<head>
  <meta charset="utf-8">
  <title>{% block pageTitle %}BIA-Technologies | BUSINESS | INTERACTIVE | APPLICATIONS |{% endblock %}</title>
  <meta name="keywords" content="БИА Тех, БИА Технолоджиз, БИА технологии, БИА-технологии, BIA Technologies, Биа-технолоджи, БИА-технолоджи, БИА Технолоджис, БИА-Технолоджис, Биайэй-Технолоджиз">
  <meta name="description" content="Разработка интерактивных приложений разной сложности для бизнеса.">

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="shortcut icon" href="{{static}}/images/favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <link rel="stylesheet" href="{% static "styles/main.css" %}" media="screen" title="no title" charset="utf-8">

</head>
