.cases__carousel {
  padding: 53px 0 20px;

  .fotorama__arr {
    display: block;
    width: 12px;
    height: 22px;
    background: url(../images/arrow.png);
    cursor: pointer;
    &:hover, &:focus, &:active {
      background-image: url(../images/arrow-active.png);
    }
  }
  .fotorama__arr--next {
    transform: scale(-1,1) !important;
  }
}

.cases__carousel__item {
  width: calc(100% - 68px);
  margin: 0 34px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &__info {
    position: relative;
    width: 445px;

    &__title {
      font-size: 30px;
      line-height: 1.2;

      a {
        border-bottom: none;
        text-decoration: underline;

        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
    }

    &__text {
      margin: 34px 0 36px;
      width: 360px;
      line-height: 1.6;
    }
  }
}
