.form__row {
  position: relative;
  margin-bottom: 21px;

  &__label {
    float: left;
    padding-top: 12px;
    padding-right: 20px;
    width: 122px;
    color: #878f91;
    line-height: 1.4;
  }
  &__input, &__textarea {
    padding: 13px;
    width: 454px;
    border: 1px solid #d6dbdd;
    border-radius: 3px;
  }

  .button {
    float: right;
    margin-top: 46px;
  }

  &.error {
    input, textarea {
      border-color: $baseRedColor;
    }
  }

  .error__message {
    margin: 6px 0 0 142px;
    color: $baseRedColor;
    font-size: 12px;
  }
}
