.tag {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 33px;
  margin-left: 30px;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: -28px;
    content: '';
    width: 17px;
    height: 17px;
    background: url(../images/icon_tag.png) no-repeat;
  }
}
