{% load static %}
<!DOCTYPE html>
<html>

  {% include "includes/head.html" %}

  <body>

    {% include "includes/header.html" %}

    <div class="content">

      {% block content %}{% endblock %}

      {% include "includes/form.html" %}
    </div>

    {% include "includes/footer.html" %}

    <script src="{% static "js/libs.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    {% if anchor %}
      <script type='text/javascript'>
        $(document).ready(function(){
            window.location = '#{{ anchor }}'
        });
      </script>
    {% endif %}

  </body>
</html>
