{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Кейсы</h1>

    {% include "includes/filters.html" %}

    <div class="cases_list js-cases">
      <div class="cases_list__container">
        {% if cases %}
          {% for case in cases %}
            <div class="cases_list__item">
              <div class="cases_list__item__image">
                <a href="/cases/{{ case.id }}">
                  <img src="{{ case.preview.url }}" alt="{{ case.title }}" />
                </a>
              </div>
              <div class="cases_list__item__title">
                <a href="/cases/{{ case.id }}">{{ case.title }}</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="cases_list__loading_more">
        <a href="" class="button button_white" data-action="get_cases">Загрузить еще</a>
      </div>
    </div>


  </div>
{% endblock %}
