{% extends "base.html" %}
{% block content %}
  <div class="container">

    <div class="breadcrumbs">
      <a href="{% if item_prev %}/cases/{{ item_prev.id }}{% else %}#{% endif %}" class="link {% if not item_prev %}disabled {% endif %}navigate_by_cases navigate_by_cases_prev">Предыдущий кейс</a>
      <a href="{% if item_next %}/cases/{{ item_next.id }}{% else %}#{% endif %}" class="link {% if not item_next %}disabled {% endif %}navigate_by_cases navigate_by_cases_next">Следующий кейс</a>
      <a href="/cases/" class="link link_go_back">Назад к странице кейсов</a>
    </div>

    <div class="case">

      <h1>{{ case.title }}</h1>
      <div class="case__description">
        <p>
          {{ case.description }}
        </p>
      </div>

      <div class="content">
        {{ case.content|safe }}
      </div>

      {% if case.services or case.directions %}
        <div class="case__tag_list">
          {% for tag in case.services.all %}
            <a href="/cases/?service={{ tag.id }}" class="case__tag_list__item tag">{{ tag.name }}</a>
          {% endfor %}
          {% for tag in case.directions.all %}
            <a href="/cases/?direction={{ tag.id }}" class="case__tag_list__item tag">{{ tag.name }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>


  </div>
{% endblock %}
