{% extends "base.html" %}
{% block content %}
  <div class="content__about">
    <div class="container">
      {% if content.title %}
        <div class="content__about__title">
          {{ content.title }}
        </div>
      {% endif %}

      {% if content.texts %}
        <div class="content__about__text">
          {% for text_item in content.texts.all %}
            <div class="content__about__text__item">
              {{ text_item.content }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="content__about__order-button">
        <a href="#order" class="button button_red button_is_big">Сделать заказ</a>
      </div>
      {% if content.presentation %}
        <div class="content__about__presentation-download">
          <a href="{{ content.presentation.url }}" class="link link_adobe" target="_blank">Скачать презентацию</a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="content__divider"></div>

  {% if directions %}
    <div class="services">
      <div class="container">
        <div class="services__list">
          {% for service in services %}
            <div class="services__list__item">
              <div class="services__list__item__icon">
                <a href="/cases/?service={{ service.id }}">
                  <img src="{{ service.icon.url }}" alt="{{ service.name }}" />
                </a>
              </div>
              <div class="services__list__item__name">
                <a href="/cases/?service={{ service.id }}" class="link">{{ service.name }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if cases %}
    <div class="cases">
      <div class="container">
        <div class="cases__carousel fotorama" data-arrows="always" data-loop="true">
        {% for case in cases %}
          <div class="cases__carousel__item" style="background-image: url({{ case.carousel_img.url }});">
            <div class="cases__carousel__item__info">
              <div class="cases__carousel__item__info__title">
                <a href="/cases/{{ case.id }}">{{ case.title }}</a>
              </div>
              <div class="cases__carousel__item__info__text">
                {{ case.description }}
              </div>
              <div class="cases__carousel__item__info__button">
                <a href="/cases/" class="button button_red">Посмотреть все</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if directions %}
    <div class="directions">
      <div class="container">
        <div class="directions__tag_list">
          {% for direction in directions %}
            <a href="/cases/?direction={{ direction.id }}" class="directions__tag_list__item tag" data-tag="direction-{{ direction.id }}">{{ direction.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
